
/*Import Raleway 400, 600 and 700 on line #1 (must be on first line)*/
/* ----------------------------------------
Base Styles
------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px;
}

p {
  font-size: 12px;
}

img {

  width: 100%;
}

ul{
  font-size: 12px;
  padding-left: 0px;
}

li {
  display: inline-block;
}


p,h5 {
  text-align: left;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: uppercase;
  transition: all 1s ease-in;
}


#menu a {
  display: inline-block;
}


a:hover {
  transform: translateY(-5px) scale(1.25, 1.25);

}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px 40px;
}

i {

  margin-right: 30px;

}
section {
  /*margin-bottom: 120px;*/
}

header {
  background-image: url("../images/home-header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  text-transform: uppercase;
  color: white;


}

footer nav {
  padding-top: 0px;
}

header nav {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all .5s ease-in;
  /*margin-bottom: 20px;*/

}


footer, footer p, footer h3, footer a {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: normal;
}

footer nav a {
  display: block;
}
footer nav h5{
  text-align: center;
}
li a {
  color: rgb(48, 252, 210);
  cursor: pointer;
}

footer i {
  text-align: center;
}




h5, h3 {
  text-transform: uppercase;
}
section h5 {
  margin-bottom: 20px;
}


header section {
  padding-top: 80px;
}
header h1{
  /*position: absolute*/
  /*text-align: center;*/
  font-size: 80px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

header h3 {
  font-weight: normal;
}

.hamburger {
  display: none;
}

.black {
  background-color: black;
}

.underline {
  border-bottom: 2px solid rgb(48, 252, 210);
  padding-bottom: 3px;

}

#carousel {
  text-align: left;
  position: relative;
}

/*#carousel img:not(:first-child) {
  display: none;

}
#carousel img:not(:first-child) {
  display: none;

}*/

#carousel i {
  cursor: pointer;
}

/*#three_menus section:not(:first-child){
  display:none;
}*/



/*google snazzy maps*/

.right_arrow {
position:absolute;
top: 35%;
right: 0;
color:white;
margin-right: 20px
}
.left_arrow {
position: absolute;
left: 0;
top: 35%;
color:white;
margin-left: 20px;
}

.close {
  display: none;
}

.close:hover {
  transform: none;
}

#reserve_button_div {
  height: 180px;
  background-color:rgb(48, 252, 210);
  padding-top: 65px;
}
button {
  border: none;
  background-color: pink;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

form {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
  position: relative;
}
form p {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

form i {
  position: absolute;
  right: 0;
  top: 5%;

}

form button {
  background-color: black;
  color: white;
  width: 70%;
  min-width: 100px;
  height: 50px;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
}
form input, form textarea {
  display: block;
  margin: 30px auto;
  border: 2px solid black;
  padding: 10px;
}

form input {
  min-width: 100px;
  width: 70%;
}

form textarea {
  min-width: 100px;
  width: 70%;
}


#reserve_button {
  background-color: rgb(238, 111, 49);
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin: auto;
  font-weight: bold;
  text-transform: uppercase;
}

#form_container {
  background-color: rgb(63, 74, 82);
  height: 400px;
}


#modal {

background-color: rgba(0,0,0,.8);
width: 100%;
height: 100%;
/*margin: 0 auto;*/
position: fixed;
top: 0;
z-index: 100;
}

#social_icons {
  text-align: center;
  padding-left: 35px;
  margin-top: 30px;
}

#location {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;

  margin-right: 60px;
  padding-bottom: 80px;
  /*padding-top: 50px;*/
  margin-top: 40px;
}

#brunch, #dinner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  margin-bottom: 50px;
}

#drinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 60px;
  margin-bottom: 50px;
}

#brunch div, #dinner div {
  padding: 0 40px;
}

#brunch h5, #dinner h5, #drinks h5 {
  font-size: 12px;
}

#map {
  width: 100%;
  height: 400px;
}


@media screen and (max-width: 500px){
  .hamburger {
    display: block;
    /*display: block;*/
    padding-top: 50px;
  }
  header nav {
    /*display: none;*/
    font-size: 1.3em;
    /*position: absolute;*/
    /*top: 10px;*/
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(43, 166, 187, 1);
    transform: translateX(-120%);
    /*padding: 20px;*/
  }
   header h1 {
     font-size: 3em;
   }

  .close{
    display: block;
    text-align: left;
    border-bottom: none;
  }
  .active {
    transform: translateX(0);
  }

  /*.not_active {
    display: none;
  }*/

  header nav a {
    display: block;
    border-bottom: 1px solid white;
    border-radius: 5px;
    padding: 20px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px 40px;
  }

  #brunch, #dinner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    margin-bottom: 50px;
  }

  #drinks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 60px;
    margin-bottom: 50px;
  }

  li{
    display: block;
    margin-top: 30px;
  }

  #location {
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;

    margin-right: 60px;
    padding-bottom: 80px;
    /*padding-top: 50px;*/
    margin-top: 40px;
  }
}
#location p, #location h5 {
  text-align: center;
}

#location_section {
  margin-bottom: -20px;
}

#location div h5:first-child {
  margin-top: 0px;
}

#menu_section span {
  display: none;
}



/* ----------------------------------------
Add comments here for organization!!
------------------------------------------- */
